{% extends 'partial/_base.html' %} {% block title %}{{ article.title }} / {{ SITENAME }}{% endblock %} {% block main_body%}

<div class="page-body col m9 s12 f333">
	<br>
		<div class="page-article">
			<h1 class="page-title">{{ article.title }}</h1>

			<nav class="page-breadcrumb">
				<div class="nav-wrapper ">
					<div class="col s12">
						<a href="{{ SITEURL }}" class="breadcrumb">
							home
						</a>
						<a href='{{ SITEURL }}{{ article.category.url }}' class="breadcrumb">
							{{article.category.name }}
						</a>
						<a href='{{ SITEURL }}{{ article.url }}' class="breadcrumb">
							{{ article.title }}
						</a>
					</div>
				</div>
			</nav>


			<br>
			<div class="entry-content clearfix">
				{{ article.content }}
			</div>
			<div>
				<hr>
				<div class="pure-g post-footer">
					<p>
						Postato da {{ article.author }}
					</p>
				</div>

				<div class="card-action">
					{% for tag in article.tags %}
					<a class="gray-action" href="{{ tag.url }}">
						<i class="fa fa-tag" aria-hidden="true"></i> {{ tag.name }}
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	<div class="entry-content">

		<div id="disqus_thread"></div>
		<script>
			/**
			 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
			/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
			(function () { // DON'T EDIT BELOW THIS LINE
				var d = document,
					s = d.createElement('script');
				s.src = 'https://fundor333.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();

		</script>
		<noscript>Please enable JavaScript to view the
			<a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
		</noscript>


	</div>

	<div class="fixed-action-btn horizontal click-to-toggle social">
		<a class="btn-floating btn-large red">
			<i class="material-icons">share</i>
		</a>
		<ul>
			<li>
				<a href="http://www.facebook.com/share.php?u={{ SITEURL }}{{ article.url }}" class="waves-effect button btn-floating facebook">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/share?url={{ SITEURL }}{{ article.url }}&amp;text=Read this amazing article &amp;hashtags=f333"
				  target="_blank" class=" waves-effect button btn-floating twitter" data-show-count="false">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href=https://www.linkedin.com/shareArticle?mini=true&url={{ SITEURL }}{{ article.url }} "
	class="sharer button btn-floating linkedin "><i class="fa fa-linkedin "
							aria-hidden="true "></i></a></li>
      <li><a href="https://plus.google.com/share?url={{ SITEURL }}{{ article.url }} "
	     class="waves-effect button btn-floating gplus "><i class="fa fa-google-plus "
								aria-hidden="true "></i></a></li>

    </ul>
  </div>

  <br>
</div>


{% endblock %}
