{% extends 'partial/base.html' %}



{% block main_body %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>

<script>
			$(document).ready(function() {
			$('#tipue_search_input').tipuesearch({
		 		'show': 10,
		 		'mode': 'json',
				'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
				});
			});

</script>
<div class="blue-grey lighten-4 col m9 s12 f333">
    <div class="container">

        <div id="tipue_search_content"></div>

    </div>
</div>
{% endblock main_body %}