{% extends 'partial/base.html' %}

{% block main_body %}

<div class="blue-grey lighten-4 col m9 s12 f333">
    <div class="container">
        <div class="row">
            <br>
            <article>
                        <div >
                            <div>
                                <div id="tipue_search_content"></div>
                            </div>
                            <br>
                        </div>
            </article>
        </div>
    </div>
</div>

{% endblock %}