{% extends 'partial/_base.html' %}

{% block main_body %}

<div class="blue-grey lighten-4 col m9 s12 f333">
    <div class="col s12">
        <section>
            <div class="col s12">
                <div class="container">
                    <div class="row">
                        {% block category_header %}
                        {% endblock %}
                    </div>
                    {% for article in articles_page.object_list %}
                    <div class="row">
                        <div class="card grey lighten-2">
                            <div class="card-content">
                                <div class="card-title">
                                    <a href="{{ SITEURL }}/{{ article.url }}" class="title-action" rel="bookmark"
                                       title="{{ article.title | striptags }}">{{ article.title | striptags }}</a>
                                    <p class="small">{{ article.locale_date }}</p>
                                </div>

                                <div class="entry-content">
                                    <p>{{ article.summary }}</p>
                                </div>
                                <div class="card-action gray-action">
                                    <a href="{{ SITEURL }}/{{ article.url }}">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
                <div class="row">
                    {% if articles_page.has_previous() %}
                    <a class="btn amber lighten-5 left black-text"
                       href="{{ SITEURL }}/{{  articles_previous_page.url }}">
                        < Preview Page </a>
                    {% endif %}

                    {% if articles_page.has_next() %}
                    <a class="btn amber lighten-5 right black-text" href="{{ SITEURL }}/{{ articles_next_page.url }}">
                        Next Page ></a>
                    {% endif %}
                </div>
            </div>
            <br>
        </section>
    </div>
</div>

{% endblock %}