<div class="col m3 hide-on-small-only amber lighten-5 f333">
    <br>
    <div class="row">
        {% include 'partial/social.html' %}
    </div>
    <div class="container">
        <div class="row">

                {% for tag in tag_cloud %}
            <a class="tag-{{ tag.1 }} gray-action" href="{{ SITEURL }}/{{ tag.0.url }}">
            {{ tag.0 }}
                {% if TAG_CLOUD_BADGE %}
                    <span class="badge">{{ tag.2 }},</span>
                {% endif %}
            </a>
    {% endfor %}
        </div>
    </div>
</div>
