<aside class="col m3 hide-on-small-only amber lighten-5 f333">

    <br>
    <nav class="amber lighten-5">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <form id="search" action="{{ SITEURL }}/search.html"
                          onsubmit="return validateForm(this.elements['q'].value);">
                        <input type="text" class="search-query gray-action gray-text" placeholder="" name="q"
                               id="tipue_search_input">

                        <label class="label-icon" for="search"><i
                                class="material-icons gray-text gray-action">search</i></label>
                    </form>
                </div>
            </form>
        </div>
    </nav>

    <br>
    <div class="row">
        {% include 'partial/social.html' %}
    </div>
    <div class="container">
        <div class="row">

            {% for tag in tag_cloud %}
            <a class="tag-{{ tag.1 }} gray-action" href="{{ SITEURL }}/{{ tag.0.url }}">
                {{ tag.0 }}
                {% if TAG_CLOUD_BADGE %}
                <span class="badge">{{ tag.2 }},</span>
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
</aside>
