<footer class="page-footer blue-grey lighten-4">
    <div class="footer-copyright blue-grey lighten-4">
        <div class="container">
            <div class="row">
                <div class="col s12  m6 black-text">
                    Made by <a href="{{ SITEURL }}" class="gray-action">Fundor333</a> with <i class="fa fa-heart" aria-hidden="true"></i> Python <i class="fa fa-laptop" aria-hidden="true"></i>
                </div>
                <div class=" col s12 m6 black-text">
                    Powered by <a href="https://getpelican.com/" class="gray-action">Pelican</a> -
                    <a href="https://github.com/fundor333/fundor333.com" class="gray-action">Source
                        code</a>
                </div>
            </div>
        </div>
    </div>
</footer>