<header>
    <br>
    <div class="row">
        <a href="{{ SITEURL }}">
            <div class="col m3 s12">
                <img class='circle responsive-img center-block' id="header_logo" src='{{ SITEURL }}/theme/img/pilogo.jpg' >
            </div>
            <div class="col m8 offset-m1 s12">
                <div id="title">
                    <h1 class="maintitle black-action">{{ SITENAME }}</h1>
                    <h4 class="maintitle black-action">{{ SITESUBTITLE }}</h4>
                </div>
            </div>
        </a>
    </div>
</header>